<section id="feedbacks" class="feedbacks">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <svg style="display: none;">
    <symbol id="icon-arrow_back" viewBox="0 0 32 32">
      <path
        d="M9.46 17.136l7.336 7.335c0.227 0.227 0.341 0.494 0.344 0.8s-0.109 0.574-0.336 0.803c-0.227 0.229-0.494 0.343-0.802 0.34s-0.577-0.117-0.805-0.344l-9.267-9.267c-0.121-0.123-0.21-0.25-0.265-0.383s-0.083-0.273-0.083-0.422 0.028-0.289 0.083-0.421c0.055-0.132 0.143-0.259 0.265-0.382l9.275-9.275c0.234-0.226 0.503-0.34 0.806-0.34s0.567 0.113 0.794 0.34c0.226 0.232 0.34 0.5 0.34 0.803s-0.113 0.569-0.34 0.796l-7.344 7.343h16.27c0.325 0 0.597 0.108 0.816 0.323s0.328 0.486 0.328 0.812-0.109 0.597-0.328 0.812c-0.219 0.215-0.491 0.323-0.816 0.323h-16.27z">
      </path>
    </symbol>
    <symbol id="icon-arrow_forward" viewBox="0 0 32 32">
      <path
        d="M22.54 17.136h-16.27c-0.326 0-0.597-0.108-0.812-0.323s-0.323-0.486-0.323-0.812 0.108-0.597 0.323-0.812c0.215-0.215 0.486-0.323 0.812-0.323h16.27l-7.336-7.335c-0.227-0.227-0.341-0.494-0.344-0.801s0.109-0.575 0.336-0.803c0.227-0.229 0.495-0.342 0.803-0.339s0.577 0.117 0.805 0.344l9.267 9.267c0.121 0.123 0.21 0.25 0.265 0.383s0.083 0.273 0.083 0.422-0.028 0.289-0.083 0.421c-0.055 0.132-0.143 0.259-0.265 0.382l-9.275 9.267c-0.234 0.232-0.503 0.348-0.806 0.348s-0.567-0.117-0.794-0.35c-0.226-0.227-0.34-0.492-0.34-0.795s0.113-0.568 0.34-0.794l7.344-7.343z">
      </path>
    </symbol>
  </svg>

  <div class="container">
  <a href="#"></a>

  <h1 class="feedbacks-h1">
    Words from Our Wonderful Couples
  </h1>
  
  <p class="feedbacks-p">
    Read what the couples who entrusted us with their most precious memories have to say.
  </p>


  <div class="swiper testimonials-swiper">
    <ul class="swiper-wrapper testimonial-list">
  
      <li class="swiper-slide testimonial-card">
        <p class="testimonial-text">"Maria is a true professional! She managed to capture every single emotion of our wedding day. Looking through the
        photos, we get to relive that special day all over again. Thank you for the incredible memories!</p>
        <span class="testimonial-author">Olena & David</span>
      </li>
  
      <li class="swiper-slide testimonial-card">
        <p class="testimonial-text">"We are so happy we chose Maria as our wedding photographer. Her personal approach and ability to see beauty in the
        details turned our photos into a true work of art. We recommend her to everyone!</p>
        <span class="testimonial-author">Ann & Ian</span>
      </li>
  
      <li class="swiper-slide testimonial-card">
        <p class="testimonial-text">"The photoshoot with Maria was so easy and relaxed. She knows how to create a comfortable atmosphere, which made the
        photos come out incredibly lively and emotional. We are absolutely thrilled with the result!"</p>
        <span class="testimonial-author">Julia & Mark</span>
      </li>
  
      <li class="swiper-slide testimonial-card">
        <p class="testimonial-text">"The photoshoot with Maria was so easy and relaxed. She knows how to create a comfortable atmosphere, which made the
        photos come out incredibly lively and emotional. We are absolutely thrilled with the result!"</p>
        <span class="testimonial-author">Julia & Mark</span>
      </li>
  
      <li class="swiper-slide testimonial-card">
        <p class="testimonial-text">"We are so happy we chose Maria as our wedding photographer. Her personal approach and ability to see beauty in the
        details turned our photos into a true work of art. We recommend her to everyone!</p>
        <span class="testimonial-author">Ann & Ian</span>
      </li>
  
    </ul>
  </div>
  
  <div class="slider-controls">
    <div class="swiper-pagination"></div>
  
    <div class="navigation-buttons">
      <button class="btn-nav btn-prev" aria-label="Попередній слайд">
        <svg class="icon icon-arrow_back">
          <use href="#icon-arrow_back"></use>
        </svg>
      </button>
      <button class="btn-nav btn-next" aria-label="Наступний слайд">
        <svg class="icon icon-arrow_forward">
          <use href="#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>
  </div>
  </div>



</section>
