<header id="header" class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo" aria-label="Wedding photographer">
      <!-- Виклик іконки логотипу -->
      <svg class="logo-icon" width="81" height="63">
        <use href="../img/sprite.svg#logo-icon"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#home" class="header-nav-link">About Me</a>
        </li>
        <li class="header-nav-item">
          <a href="#mission" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Portfolio</a>
        </li>
        <li class="header-nav-item">
          <a href="#assorts" class="header-nav-link">FAQ</a>
        </li>
      </ul>
    </nav>

    <a class="order-btn" href="#contacts">Book a Session</a>

    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Open mobile menu"
      aria-expanded="false"
    >
      <svg class="mobile-menu-icon" width="32" height="32">
        <use href="../img/sprite.svg#burgermenu-icon"></use>
      </svg>
    </button>
  </div>
</header>
